* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 1em 0;
  font-family: sans-serif;
}

.container {
  position: relative;
  padding: 15px;
  max-width: 640px;
  margin: 0 auto;
}

.gallery-wrapper {
  overflow-x: auto;
}

.left,
.right {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 50px;
  background: transparent;
}

.left:hover,
.right:hover {
  opacity: 1;
}

.left {
  position: absolute;
  top: 0;
  right: 2.1%;
  left: auto;
  border: 1px solid black;
  border-radius: 50px;
  background: transparent;
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.item {
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  transition: all 600ms ease-in-out;
  opacity: 0.5;
}

.current-item {
  opacity: 1;
}
.gallery-wrapper::-webkit-scrollbar {
  display: none;
}
.gallery-wrapper {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.cyan {
  background: cyan;
}
.deeppink {
  background: deeppink;
}
.turquoise {
  background: turquoise;
}
.darkblue {
  background: darkblue;
}
.purple {
  background: purple;
}
